@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --c-zero: #212121bb;
  --c-one: #211951bd;
  --c-two: #836fffbb;
  --c-three: #15f5b9bb;
  --c-four: #fff8ffff;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #212121;
  
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px; /* Rounded corners for the thumb */
  border: 3px solid #f1f1f1; /* Space around the thumb */
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

i {
  color: var(--c-four) !important;
}

/* Navbar content start */
.navbar {
  position: relative;
  background-color: var(--c-zero);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 32px;
}

.navbar::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    #f17c58,
    #e94584,
    #24aadb,
    #27dbb1,
    #ffdc18,
    #ff3706
  );
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  height: 3px;
  width: 100%;
}
/* Navbar bottom animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.brand h1 {
  font-family: Verdana;
  font-size: 36px;
  color: var(--c-three);
}

.navlist {
  display: flex;
  align-items: center;
}

.navlist ul {
  display: flex;
  padding: 0;
}

.navlist li {
  list-style: none;
  text-decoration: none;
  padding: 8px 16px;
  margin-inline: 16px;
  font-size: 16px;
  border-bottom: 1px solid var(--c-two);
}

.navlist li:hover {
  background-color: var(--c-two);
  transition: background-color 200ms ease-in-out;
}

.navlist li a {
  text-decoration: none;
  color: var(--c-four);
}

/* .navlist li:nth-child(2) {
    color: var(--c-three);
    background-color: inherit;
    transition: none;
    cursor: default;
}

.navlist li:nth-child(2):hover {
    transition: none;
} */

.navlist li form button {
  background-color: inherit;
  border: 0;
  color: var(--c-four);
}

.navlist li form button:hover {
  color: var(--c-one);
}

.navlist li button,
button i {
  border: 0;
  background-color: transparent;
  color: var(--c-three);
}

/* nav toggle button start */
.toggle-button {
  position: absolute;
  display: none;
  z-index: 10;
  top: 4px;
  right: 1rem;
  padding: 1rem;
  width: fit-content;
  height: fit-content;
}

/* nav toggle button end */

section {
  background-color: var(--c-zero);
  padding: 1rem;
}




.main form p {
  color: var(--c-four);
}

.chekbox {
  float: right;
}

.main form p label {
  font-size: 32px;
  margin-block: 12px;
  color: var(--c-two);
  font-weight: bold;
}

.chk,
.change-banner {
  color: var(--c-four);
  font-size: 18px;
  font-weight: bold;
}

.chk > a {
  color: var(--c-three);
  font-weight: 100;
}

.main form p input,
textarea,
.change-banner input {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 4px;
  padding: 6px 10px;
  background: transparent;
  background-color: #ffffff1f;
  border: 0;
  border-bottom: 2px solid var(--c-three);
  caret-color: var(--c-three);
  color: var(--c-four);
}

.main form p input,
textarea:focus {
  border: 0;
  border-bottom: 1px solid var(--c-three);
  outline: none;


/* All forms  */
.form {
  border: 1px solid var(--c-three);
  border-radius: 6px;
  background-color: var(--c-three);
  padding: 16px 12px;
}

.form-group {
  margin-block: 12px;
}

.form-group input {
  width: 100%;
  font-size: 16px;
  padding: 6px 10px;
  border: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid var(--c-two);
}

.form-group input:focus {
  outline: none;
}

.form-group label {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  display: block;
}

.alert {
  width: 100%;
  height: auto;
  padding: 16px 8px;
  text-align: center;
  background-color: var(--c-one);
  color: var(--c-four);
}

/* bottom links */

.access-link a button {
  background-color: var(--c-three);
  border: 1px solid var(--c-four);
  color: var(--c-four);
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 16px;
  margin-bottom: 16px;
}

.access-link a button:hover {
  background-color: var(--c-three);
  transition: background-color 200ms ease;
}

@media screen and (max-width: 786px) {
  .navbar {
    display: block;
    z-index: 20;
  }

  .navlist {
    display: block;
    height: 0;
    overflow-y: hidden;
    transition: all 0.2s ease-in-out;
  }

  .navlist ul {
    display: block;
  }

  .toggle-button {
    display: block;
  }

  .active {
    margin-top: 16px;
    height: 12rem;
  }

  section {
    background-color: var(--c-zero);
    padding: 0.4rem;
  }

}