label{
    color:white;
    margin-bottom: 10px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.main{
    max-width: unset;
}

.one{
    grid-column: span 2;
}

.two ,.three{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.four{
    margin-top: auto;
}

.form{
    border: 0;
    background-color: unset;
    margin-top: 2rem;
}

.btn-primary{
    padding: 5px 12px;
    font-size: 1.2rem;
}

@media screen and (max-width: 786px) {
    .container{
        display: block;
    }
    .main img{
        display: none;
    }
}
